################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sprints/Sprints API/EccomerceAPI/Logs/log20230518.txt
